<footer class="pt-2 pb-2 bg-dark fixed-bottom">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between small">
      <div class="col-6 text-muted">
        Copyright &copy; <%= t(:brand_name) %> <%= Date.today.year %>
      </div>
      <div class="col-6">
        <div class="float-right social-medias">
          <%= link_to '#' do %>
            <i class="fab fa-instagram"></i>
          <% end %>
          <%= link_to '#' do %>
            <i class="fab fa-facebook"></i>
          <% end %>
          <%= link_to '#' do %>
            <i class="fab fa-twitter"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>